.main-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid ;
    margin-top: 20px;
    position: fixed;
    top: 40px;
    background-color: #0d1117;
    left: 0;
    right: 0;
}

p{
    color: rgb(196, 196, 196);
}
span{
    color: rgb(196, 196, 196);
}
.sticky {
    transition: all .2s ease;
    z-index: 9999;
    top: -20px;
}

.user__info {
    position: absolute;
    left: 140px;
    top: 8px;
    opacity: 0;
    transition: all .4s ease;
    display: flex;
}

.none {
    opacity: 1;
}

.user__nav-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.user__nav-name {
    font-weight: 700;
    font-size: 19px;
    margin: 0;
}


.main-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 50px;
    height: 50px;
}

.main-icon {
    font-size: 25px;
}

.main-navbar-item {
    display: inline-block;
    padding: 2px 15px;
    border-radius: 10px;
    transition: all .3s ease;
    align-items: center !important;
    color: rgb(40, 39, 39);


    p {
        font-size: 13px;
        margin: 0;
    }

    &:hover {
        background-color: rgb(88, 87, 87);
        transition: 0s;
        border-radius: 8px;
    }
}

.active {
    border-bottom: 3px solid #e9802f;
    font-weight: 800;
}